.nav{
    color: yellow;
    font-weight: 500;
}
.navbg{
    color: white;
    background-color: #2F2F2F;
}
.nav:hover{
    background-color: aliceblue;
    color: black;
    font-weight: 500;
    border-radius: 20px;
    transition: 1s;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.title{
    font-weight: 600;
}
.logout{
    background-color: yellow;
    color: gray;
    font-weight: 400;
    margin-right: 5px;
}
.user{
    color: lightgreen;
    font-size: 20px;
    font-weight: 500;
}